.titulo {
    font-size: 35px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
  }
  .datos{
    font-size: 18px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
