<!-- COMO ESTABA FUNCIONADO BIEN -->
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="catalogo-empleado" routerLinkActive="active" class="nav-link" >Catalogo empleado</a>
    </li>
    <li class="nav-item">
      <a routerLink="empleados" routerLinkActive="active" class="nav-link" >Lista de empleados</a>
    </li>
    <li class="nav-item">
      <a routerLink="registrar-empleado" routerLinkActive="active" class="nav-link" >Añadir empleado</a>
    </li> -->
    <!-- <li class="nav-item">
      <a routerLink="app-card-componet" routerLinkActive="active" class="nav-link" >Card empleado</a>
    </li> -->
  <!-- </ul>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#"><i class="fas fa-home" style="font-size: 24px"></i></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="catalogo-empleado" routerLinkActive="active" class="nav-link" >Catalogo empleado</a>
      </li>
      <li class="nav-item">
        <a routerLink="empleados" routerLinkActive="active" class="nav-link" >Lista de empleados</a>
      </li>
      <li class="nav-item">
        <a routerLink="registrar-empleado" routerLinkActive="active" class="nav-link" >Añadir empleado</a>
      </li>
    </ul>
  </div>
</nav>
 
<!-- <h1 class="text-center">CRUD - Empleados</h1> -->
<div class="container">
  <router-outlet></router-outlet>
</div>