.titulo {
    background: linear-gradient(to right, #080808, #09ee83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
}
.detalles-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
